html body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family:Asap, sans-serif;
}

.items{
  height: 500px;
  width: 1520px;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  position: absolute;
  background-color: rgba(255,255,255,0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-box-master{
  width: auto;
  height: 500px;
  position: absolute;

}

.item-box{
  display: inline-flex;
}

.item{
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #FF5555;
  height: 460px;
  width: 300px;
  text-align: center;
  color: #fff;
  font-size: 80px;
  margin: 20px 0px 20px 0px;
  transform: scale(0.96);
}

.item.active{
  transform: scale(1);
}

.item:nth-child(2){
  background-color: #55FF55;
}

.item:nth-child(3){
  background-color: #FFEE55;
}

.item:nth-child(4){
  background-color: #FF55FF;
}

.item:nth-child(5){
    background-color: #5555FF;
}
